.CountdownTimer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    gap: 10px;
}

.wrapperTime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time,
.dots,
.timeRed {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

.timesubtitle,
.timesubtitleRed {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

.wrapperTimeRed {
    width: 78px;
    height: 94px;
    background-color: var(--color-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeRed {
    color: var(--color-red);
}

.timesubtitleRed {
    color: var(--color-red);
}
