.container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 0;
    margin: 0;
    height: 74px;
    box-sizing: border-box;
}

.input {
    width: 358px;
    padding: 15px;
    border: 1px solid #808080;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
    height: 50px;
    box-sizing: border-box;
}

.input::placeholder {
    color: #808080;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
}

.input:disabled {
    background: white;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: black;
}

@media screen and (width < 390px) {
    .input {
        width: 100%;
    }
}

.error {
    color: #ff4310;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    /* 153.846% */
    letter-spacing: -0.24px;
}
