.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 46px);
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 28px;
}

.alert {
  padding: 14px 20px;
  background: var(--background-dark);
  color: var(--alert-white);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 48px;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form {
  margin: 28px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  color: var(--color-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-decoration-line: underline;
  text-align: right;
}