.SpectatorPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.form {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}

.wrapperPersonal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wrapperCheckbox {
  display: flex;
  gap: 12px;
  align-items: start;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid var(--border-gray);
  border-radius: 3px;
  position: relative;
}

.paragraphAccept {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input:checked + .customCheckbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--border-gray);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.title {
  color: var(--color-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
}