.HomePage {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 46px);
}

.img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.paragraph {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между кнопками */
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
