.ResetPaswordPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 46px);
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--color-black);
}
