.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 46px);
}

.header {
  margin-top: 28px;
}

.paragraph {
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button {
padding: 14px
}

.buttonActive {
  color: var(--color-red);
  border-bottom: 2px solid var(--color-red);
}

.form {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
