.StartPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--overlay);
}

.loading_logo {
    margin: 140px 0 0;
}

.loading_title {
    color: var(--color-white);
    font-family: 'Grtsk Tera', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0 auto 159px;
}
