.Accordion {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionButton {
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-black);
    width: 100%;
    text-align: left;
}

.accordionSpanOpen {
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-black);
}
